includes:
    - ../tools/vendor/phpat/phpat/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Call to function method_exists\(\) with .Symfony\\\\Component\\\\Dotenv\\\\Dotenv. and .bootEnv. will always evaluate to true\.#'
            path: tests/bootstrap.php
        -
            message: '#Class [a-zA-Z0-9\\_]+ should be written with ::class notation, string found.#'
            path: tests/Architecture

services:
    -
        class: App\Tests\Architecture\BasicArchitectureTest
        tags:
            - phpat.test
